@model puceAsk_dev1.Models.Respuesta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Respuesta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPublicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPublicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescRespuesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescRespuesta)
        </dd>

    </dl>
</div>
<br/>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RespuestaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
