@model puceAsk_dev1.Models.Respuesta

<div class="d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="card-header" style="text-align:center; width:inherit">
            <h4>Respuesta</h4>
        </div>
        <div class="card-body" align="center">
            @using (Html.BeginForm("Edit", "Respuestas", FormMethod.Post, new { id = "EditarRespuesta", enctype = "multipart/form-data", name = "Crear" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h2>@Model.Pregunta.TituloPregunta</h2>
                    <h4>@Model.Pregunta.DescPregunta</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.UsuarioId)
                    @Html.HiddenFor(model => model.PreguntaId)

                    <div class="form-group">
                        @Html.Label("Respuesta", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.DescRespuesta, 5, 200, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mi respuesta es ...." } })
                            @Html.ValidationMessageFor(model => model.DescRespuesta, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="enviar" value="Actualizar" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
        <div class="card-footer">
            <div class="d-flex links align-content-center" align="right">
                @Html.ActionLink("Regresar", "RespuestasRealizadas", "Respuestas", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>
<style>
    textarea {
        max-width: 100%;
        width: 100%;
        height: 250px;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#enviar").click(function (e) {
                e.preventDefault();

                swal({
                    title: '¿Seguro que deseas editar esta respuesta?',
                    text: 'Para realilzar esta acción es necesarios que confirmes tu nombre de usuario.',
                    content: "input"
                })
                    .then((value) => {
                        if (value === "@User.Identity.Name") {
                            swal({
                                title: "¡Excelente!",
                                text: "¡Respuesta Actualizada!",
                                icon: "success",
                            }).then((value) => {
                                $("#EditarRespuesta").submit();
                            });
                        } else {
                            swal("¡Incorrecto!", " Nombre de Usuario Incorrecto", "error");
                        }
                    });
                return false;
            });
        });

    </script>

}
