@model IEnumerable<puceAsk_dev1.Models.Respuesta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaPublicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescRespuesta)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.FechaPublicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescRespuesta)            
        </td>
        <td>
           
            @Html.ActionLink("Editar", "EditAdmin", new { idp = item.PreguntaId, idu = item.UsuarioId}) |
            @Html.ActionLink("Eliminar", "Delete", new { idp = item.PreguntaId, idu = item.UsuarioId })
        </td>
    </tr>
}

</table>
