@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right">
            @if (User.IsInRole("user"))
            {
            <li class="nav-item nav-link">
                <h5 class="nav-link">Puntaje: <span class="badge badge-secondary">@ViewData["puntaje"] </span></h5>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="loginMenu"><asp:Literal runat="server" Text="<%$Resources:Resources, Language%>" /><img src="@ViewData["Foto"]" alt="foto" class="avatar" /><span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="loginMenu">
                    <p class="dropdown-item"><img src="https://img.icons8.com/fluent-systems-filled/24/000000/user-male-circle.png" height="20" />&nbsp;Iniciado como: <b> @User.Identity.GetUserName()</b></p> <hr />
                    <a href="@Url.Action("PreguntasRealizadas", "Preguntas")" class="dropdown-item"> <img src="https://img.icons8.com/ios-glyphs/30/000000/question-mark.png" height="20" />&nbsp; Preguntas realizadas</a>
                    <a href="@Url.Action("RespuestasRealizadas", "Respuestas")" class="dropdown-item"> <img src="https://img.icons8.com/ios-filled/100/000000/faq.png" height="20"/> &nbsp; Respuestas realizadas</a>
                    <a href="@Url.Action("MensajesRecibidos", "Mensajes")" class="dropdown-item"> <img src="https://img.icons8.com/ios-filled/24/000000/message-group.png" height="20" /> &nbsp; Mensajes recibidos</a>
                    <a href="@Url.Action("EditIndividual", "Usuarios", new { id = User.Identity.GetUserId() })" class="dropdown-item"> <img src="https://img.icons8.com/ios-filled/50/000000/services.png" height="20"/> &nbsp; Administrar cuenta </a>
                    <a href="@Url.Action("Index", "Manage")" class="dropdown-item"> <img src="https://img.icons8.com/ios-glyphs/24/000000/password1.png" height="20"/> &nbsp; Cambiar contraseña </a>
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><img src="https://img.icons8.com/ios-glyphs/30/000000/exit.png" height="20"/>&nbsp; Cerrar sesión </a>

                </div>
            </li>
            }
            else if (User.IsInRole("admin"))
            {
                <li class="nav-item dropdown nav-link">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="loginMenu"><asp:Literal runat="server" Text="<%$Resources:Resources, Language%>" />Administrar<span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="loginMenu">
                        <a href="@Url.Action("Index", "Preguntas")" class="dropdown-item"> <img src="https://img.icons8.com/ios-glyphs/30/000000/question-mark.png" height="20" />&nbsp; Preguntas</a>
                        <a href="@Url.Action("Index", "Respuestas")" class="dropdown-item"> <img src="https://img.icons8.com/ios-filled/100/000000/faq.png" height="20" /> &nbsp; Respuestas</a>
                        <a href="@Url.Action("Index", "Usuarios")" class="dropdown-item"> <img src="https://img.icons8.com/fluent-systems-filled/24/000000/user-male-circle.png" height="20" /> &nbsp; Usuarios</a>
                        <a href="@Url.Action("Index", "Categorias")" class="dropdown-item"> <img src="https://img.icons8.com/ios-filled/24/000000/bar-chart.png" height="20"/> &nbsp; Categorías</a>

                       
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="loginMenu"><asp:Literal runat="server" Text="<%$Resources:Resources, Language%>" /><img src="@ViewData["Foto"]" alt="foto" class="avatar" /><span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="loginMenu">
                        <p class="dropdown-item"><img src="https://img.icons8.com/fluent-systems-filled/24/000000/user-male-circle.png" height="20" />&nbsp;Iniciado como: <b> @User.Identity.GetUserName()</b></p> <hr />
                        <a href="@Url.Action("EditIndividual", "Usuarios", new { id = User.Identity.GetUserId() })" class="dropdown-item"> <img src="https://img.icons8.com/ios-filled/50/000000/services.png" height="20" /> &nbsp; Administrar cuenta </a>
                        <a href="@Url.Action("Index", "Manage")" class="dropdown-item"> <img src="https://img.icons8.com/ios-glyphs/24/000000/password1.png" height="20" /> &nbsp; Cambiar contraseña </a>
                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><img src="https://img.icons8.com/ios-glyphs/30/000000/exit.png" height="20" />&nbsp; Cerrar sesión </a>

                    </div>
                </li>
            }

        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li class="nav-item">@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}

<style>
    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
</style>