@using puceAsk_dev1.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="d-flex justify-content-center align-items-center " style="margin: 35px;">
    <div class="card" style=" width: 30rem;">
        <div class="card-header datos">
            <h3>Iniciar sesión</h3>
        </div>
        <div class="card-body" align="center">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h5>Ingrese sus credenciales.</h5>
                    <hr />
                    <div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Nickname, new { @class = "col control-label" })
                            <div class="col">
                                @Html.TextBoxFor(m => m.Nickname, new { @class = "form-control " })
                                @Html.ValidationMessageFor(m => m.Nickname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col control-label" })
                            <div class="col">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control " })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">

                                <button type="submit" class="btn btn-info datos"><img src="https://img.icons8.com/carbon-copy/100/000000/enter-2.png" height="22"/>&nbsp;Iniciar sesión</button>
                            </div>
                        </div>
                    </div>
                    

                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                ¿No tienes una cuenta? &nbsp; @Html.ActionLink("Regístrate", "Register", "Account")

            </div>
        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

