@using puceAsk_dev1.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="d-flex justify-content-center align-items-center h-100" style="margin: 35px;">
    <div class="card">
        <div class="card-header">
            <h3>Iniciar sesión</h3>
        </div>
        <div class="card-body">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Ingrese sus credenciales para iniciar sesión.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Nickname, new { @class = "col control-label" })
                        <div class="col">
                            @Html.TextBoxFor(m => m.Nickname, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Nickname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col control-label" })
                        <div class="col">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">

                            <input type="submit" value="Iniciar sesión" class="btn btn-info" />

                        </div>
                    </div>

                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                ¿No tienes una cuenta? &nbsp; @Html.ActionLink("Regístratre", "Register", "Account")

            </div>
        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}