@model puceAsk_dev1.Models.ApplicationUser

@{
    ViewBag.Title = "Eliminar";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="d-flex justify-content-center align-items-center " style="margin: 35px;">
        <div class="card" style=" width: 40rem;">
            <div class="card-header datos" align="center">
                <h4>Eliminar Usuario</h4>
            </div>
            <div class="card-body" align="center">
                <div>
                    <h4>¿Está seguro de eliminar este usuario?</h4>
                    <hr />
                    <div class="form-group col-md-5">
                        <img src="@ViewBag.fotografia" alt="Foto" class="imgSeleccionada" />
                    </div>
                    <div class="col-md-7">


                        <dl class="dl-horizontal">


                            <dt>
                                @Html.DisplayNameFor(model => model.FechaNacimiento)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FechaNacimiento)
                            </dd>


                            <dt>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Nombre)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Apellido)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Apellido)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Sexo)
                            </dt>
                            @if (Model.Sexo)
                            {
                                <dd>Masculino</dd>
                            }
                            else
                            {
                                <dd>Femenino</dd>
                            }


                            <dt>
                                @Html.DisplayNameFor(model => model.SaldoCuenta)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SaldoCuenta)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.UserName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UserName)
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
                    <div class="card-footer">
                        <div class="" align="left">
                            @Html.ActionLink("Regresar", "Index", null, new { @class = " btn btn-danger" })
                            <input type="submit" value="Eliminar" class="btn btn-primary" style="background-color:darkred; border-color:darkred" />
                        </div>
                    </div>
                    
                
            
        </div>
    </div>
}

    <style>
        .imgSeleccionada {
            vertical-align: middle;
            width: 150px;
            height: 150px;
            border-radius: 70%;
        }
    </style>
