@model puceAsk_dev1.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

    @{string imgDataURL = ""; }
    @if (Model.Foto != null)
    {
        byte[] foto = Model.Foto;
        string imreBase64Data = Convert.ToBase64String(foto);
        imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
    }


    <div class="card mensaje " style="margin-top: 20px">

        <div class="card-header titulo">
            <img alt="Foto" src="@imgDataURL" width="100" height="100" class="emisor" style="float:left; margin:10px;" />
            <h2> <b> Nombre usuario:</b> @Html.DisplayFor(model => model.UserName)</h2>
            <h3>Puntaje <span class="badge badge-dark">@Html.DisplayFor(model => model.SaldoCuenta)</span></h3>
            <br />
        </div>

        <div class="card-body ">
            <h6 class="lead preg"><b>Nombre y Apellido: </b> @Html.DisplayFor(model => model.Nombre)  @Html.DisplayFor(model => model.Apellido)</h6>
            <h6 class="lead preg"><b>Fecha de nacimiento: </b> @Html.DisplayFor(model => model.FechaNacimiento)</h6>
            @if (Model.Sexo)
            {
            <h6 class="lead preg"><b>Sexo: </b>Masculino</h6>
            }
            else
            {
                <h6 class="lead preg"><b>Sexo: </b> Femenino</h6>
            }
            <h6 class="lead preg"> <b> Email: </b> @Html.DisplayFor(model => model.Email)</h6>
            <hr>

            <h6 class="lead preg"> <b> Preguntas realizadas: </b> @Model.Preguntas.Count()</h6>
            <h6 class="lead preg"> <b> Respuestas realizadas: </b> @Model.Respuestas.Count()</h6>

        </div>

    </div>
    

<p>
    <button class="btn buscador" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="padding: 8px">
        Bajar puntaje
    </button> |
    @Html.ActionLink("Back to List", "Index")
</p>




    <div class="collapse" id="collapseExample">
        
        Usted tiene la opción de bajar el puntaje al usuario: @Model.UserName a 0. <br /> Para hacerlo debe enviar un mensaje con los motivos por los cuales lo hace. 
        <hr />
        Para continuar presione el botón. 


        @Html.ActionLink("Continuar", "Create", "Mensajes", new { id = @Model.Id }, new {@class = "btn btn-info" } )
    </div>

<br />

<style>
    .emisor {
        vertical-align: middle;
        width: 80px;
        height: 80px;
        border-radius: 30%;
    }



    .mensaje {
        border: 3px solid;
        border-image-source: linear-gradient(45deg, #007991, #78ffd6);
        border-image-slice: 1;
    }

    .titulo {
        background-color: darkcyan;
        color: white;
    }
</style>