@model puceAsk_dev1.Models.ApplicationUser



    <div class="d-flex justify-content-center align-items-center " style="margin: 35px;">
        <div class="card" style=" width: 40rem;">
            <div class="card-header" style="background-color: darkcyan;" align="center">
            <h4>Editar información de usuario</h4>
            </div>
            @using (Html.BeginForm("EditIndividual", "Usuarios", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {

                @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Nombre)
                @Html.HiddenFor(model => model.Apellido)
                @Html.HiddenFor(model => model.Sexo)
                @Html.HiddenFor(model => model.EmailConfirmed)
                @Html.HiddenFor(model => model.PasswordHash)
                @Html.HiddenFor(model => model.SecurityStamp)
                @Html.HiddenFor(model => model.PhoneNumber)
                @Html.HiddenFor(model => model.PhoneNumberConfirmed)
                @Html.HiddenFor(model => model.TwoFactorEnabled)
                @Html.HiddenFor(model => model.LockoutEndDateUtc)
                @Html.HiddenFor(model => model.LockoutEnabled)
                @Html.HiddenFor(model => model.AccessFailedCount)
                @Html.HiddenFor(model => model.UserName)
                @Html.HiddenFor(model => model.SaldoCuenta)
                @Html.HiddenFor(model => model.FechaNacimiento)

            <div class="card-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "col-md-5 control-label" })


                    <div class="input-group col-md-5 " id="divFileUpload">
                        <img src="@ViewBag.fotografia" alt="" class="imgSeleccionada" name="Foto" /> <br /><br /><br /><br /><br /><br /><br />
                        @Html.TextBoxFor(m => m.Foto, new { @id = "file", @type = "file", @name = "img", @accept = ".png,.jpg,.jpeg,.gif,.tif", @onchange = "showimagepreview(this)", @style = "color: transparent;" })
                    </div>


                </div>

              <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>


             </div>
                <div class="card-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            
                            @Html.ActionLink("Cancelar", "Inicio", "Preguntas", null, new { @class = "btn btn-danger btn-large" })
                            <input type="submit" value="Guardar" class="btn btn-primary" style="background-color:darkcyan; border-color:darkcyan" />

                        </div>
                    </div>
                </div>
            </div>
            }

            <div>
                
            </div>
            
        </div>
    </div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")

                <script type="text/javascript">

                    function showimagepreview(input) {

                        if (input.files && input.files[0]) {
                            var reader = new FileReader();
                            reader.onload = function (e) {

                                document.getElementsByName("Foto")[0].setAttribute("src", e.target.result);
                            }
                            reader.readAsDataURL(input.files[0]);
                        }
                    }

                </script>
            }

            <style>


                .imgSeleccionada {
                    vertical-align: middle;
                    width: 150px;
                    height: 150px;
                    border-radius: 70%;
                }
            </style>
