@model puceAsk_dev1.Models.ApplicationUser

@{
    ViewBag.Title = "EditIndividual";
}

<h2>Editar</h2>

@using (Html.BeginForm("EditIndividual", "Usuarios", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
   
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Hola @Model.UserName!</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Nombre)
        @Html.HiddenFor(model => model.Apellido)
        @Html.HiddenFor(model => model.Sexo)
        @Html.HiddenFor(model => model.EmailConfirmed)
        @Html.HiddenFor(model => model.PasswordHash)
        @Html.HiddenFor(model => model.SecurityStamp)
        @Html.HiddenFor(model => model.PhoneNumber)
        @Html.HiddenFor(model => model.PhoneNumberConfirmed)
        @Html.HiddenFor(model => model.TwoFactorEnabled)
        @Html.HiddenFor(model => model.LockoutEndDateUtc)
        @Html.HiddenFor(model => model.LockoutEnabled)
        @Html.HiddenFor(model => model.AccessFailedCount)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.SaldoCuenta)
        @Html.HiddenFor(model => model.FechaNacimiento)


        <div class="form-group">
            @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                
                @*<input id="file" type="file" name="img" accept=".png,.jpg,.jpeg,.gif,.tif" onchange="showimagepreview(this)" style="color: transparent" />*@

                <div class="input-group"  id="divFileUpload">
                    <img src="@ViewBag.fotografia" alt="" class="imgSeleccionada" name="Foto" /> <br /> <br />
                    @Html.TextBoxFor(m => m.Foto, new { @id = "file", @type = "file", @name = "img", @accept = ".png,.jpg,.jpeg,.gif,.tif", @onchange = "showimagepreview(this)" })
                </div>
            </div>
           
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">

     function showimagepreview(input) {

         if (input.files && input.files[0]) {
             var reader = new FileReader();
             reader.onload = function (e) {

                 document.getElementsByName("Foto")[0].setAttribute("src", e.target.result);
             }
             reader.readAsDataURL(input.files[0]);
         }
     }

</script>
    }

<style>
    

    .imgSeleccionada {
        vertical-align: middle;
        width: 150px;
        height: 150px;
        border-radius: 70%;
    }
</style>