@model IEnumerable<puceAsk_dev1.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Usuarios</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaldoCuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    string imgDataURL = "";
    if (item.Foto != null)
    {
        byte[] foto = item.Foto;
        string imreBase64Data = Convert.ToBase64String(foto);
        imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
    }
    else
    {
        imgDataURL = "https://img.icons8.com/color/user";
    }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
             <img alt="Foto" src="@imgDataURL" width="100" height="100" class="fotos" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        @if (item.Sexo)
        {
        <td>
            Masculino
        </td>
        }
        else
        {
            <td>
                Femenino
            </td>
        }


        <td>
            @Html.DisplayFor(modelItem => item.SaldoCuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        
        
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Gestionar", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
