@model puceAsk_dev1.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambio de contraseña";
}
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="d-flex justify-content-center align-items-center " style="margin: 35px;">
        <div class="card" style=" width:25rem;" align="center">
            <div class="card-header" style="background-color:darkcyan"align="center">
                <h4>@ViewBag.Title</h4>
            </div>
            <div class="card-body" align="center">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Contraseña antigua", new { @class = "col-md-10 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group ">
                    @Html.Label("Nueva contraseña", new { @class = "col-md-10 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Confirme nueva contraseña", new { @class = "col-md-10   control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                    </div>
                </div>
         </div>
            <div class="card-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        @Html.ActionLink("Regresar", "Index", "Manage", null, new { @class = "btn btn-danger btn-large" })
                        <input type="submit" value="Cambiar contraseña" class="btn btn-primary" style="background-color:darkcyan; border-color:darkcyan" />

                    </div>

                </div>
            </div>

        </div>
    </div>
}
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
