@model puceAsk_dev1.Models.IndexViewModel
@{
    ViewBag.Title = "Cambio de contraseña";
}
<br />
<div class="d-flex justify-content-center align-items-center">
    <div class="card" style="width: 500px;">
        <div class="card-header" align="center" style="background-color:darkcyan;">
            <h4>@ViewBag.Title</h4>
        </div>
        <div class="card-body">
            <p class="text-success">@ViewBag.StatusMessage</p>

            <dl class="dl-horizontal">
                <bh>
                    <p>Ya cuentas con una contraseña, por lo que puedes proceder a cambiarla con el siguiente botón, recuerda que debes ingresar tu contraseña actual para poder cambiarla con éxito</p>

        </div>
        <div class="card-footer">
            @Html.ActionLink("Regresar", "Inicio", "Preguntas", null, new { @class = "btn btn-danger btn-large" })


            @if (Model.HasPassword)
            {


                @Html.ActionLink("Cambia tu contraseña", "ChangePassword", null, new { @class = "btn btn-primary btn-large", @style = "background-color:darkcyan; border-color:darkcyan" })

            }
            else
            {
                @Html.ActionLink("Crear contraseña", "SetPassword", null, new { @class = "btn btn-primary btn-large", @style = "background-color:darkcyan; border-color:darkcyan" })

            }

        </div>

        </dl>


    </div>
</div>