@model puceAsk_dev1.Models.IndexViewModel
@{
    ViewBag.Title = "Cambio de contraseña";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Pincha el link de abajo para establecer tu contraseña</h4>
    <hr />
    <dl class="dl-horizontal">
        <bh>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Cambia tu contraseña", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Crear contraseña", "SetPassword")
                }
                ]
            </dd>

    </dl>
        @Html.ActionLink("Regresar", "Inicio","Preguntas")
</div>
