@model puceAsk_dev1.Models.PreguntasManager

<h2>Tu Pregunta</h2>

@using (Html.BeginForm("Create", "Preguntas", FormMethod.Post, new { id = "NuevaPregunta", enctype = "multipart/form-data", name = "Crear" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Asegurate de ser cortez y objetivo.</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Dinos tu Pregunta", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.pregunta.TituloPregunta, new { htmlAttributes = new { @class = "form-control", @placeholder = "¿Qué preguntaré hoy?" } })
            @Html.ValidationMessageFor(model => model.pregunta.TituloPregunta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("¿Por qué preguntas esto?", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.pregunta.DescPregunta, 5, 200, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tengo esta duda porque ... bla bla bla." } })
            @Html.ValidationMessageFor(model => model.pregunta.DescPregunta, "", new { @class = "text-danger" })

        </div>
    </div>


    <div class="form-group">
        @Html.Label("¿Esta pregunta de qué es?", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.pregunta.CategoriaId, new SelectList(ViewBag.categorias, "CategoriaId", "NombreCategoria", "Seleccionar"), new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>


        <div class="col-md-offset-2 col-md-10">
            <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-danger">Regresar</a>
            <input id="enviar" type="submit" value="Agregar pregunta" class="btn btn-primary" />
        </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#enviar").click(function (e) {
                e.preventDefault();
                swal({
                    title: "¿Seguro que deseas publicar esta pregunta?",
                    text: "Una vez la publiques, perderas 10 puntos.",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((aceptar) => {
                        if (aceptar) {
                            swal("Pregunta Publicada!", {
                                icon: "success",
                            }).then((value) => {
                                    $("#NuevaPregunta").submit();

                            });
                           
                        } else {
                            swal("Ahorrar puntos siempre es una buena idea.", {
                                icon: "info",
                            });
                        }
                    });
                
                return false;
            });
        });

    </script>

}
