@model puceAsk_dev1.Models.Pregunta

@{
    ViewBag.Title = "Delete";
}

<br/>
<div align="center"><h2>¿Está seguro de eliminar esta pregunta?</h2></div> <br/>
<div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-header" align="center">
                <h4>Pregunta</h4>
            </div>
            <div class="card card-body" align="center" style="padding: 0 ;width: 500px;">
                <dl class="dl-horizontal">
                    <br/>
                    <dt>
                        @Html.DisplayNameFor(model => model.TituloPregunta)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TituloPregunta)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DescPregunta)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DescPregunta)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Fechapregunta)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Fechapregunta)
                    </dd>

                </dl>
            </div>
            <div class="card-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="col" align="right">
                        @Html.ActionLink("Cancelar", "Index", new { @class = "btn btn-secondary" })
                        <input type="submit" value="Eliminar" class="btn btn-danger" />

                    </div>
                }
            </div>
        </div>

       
    </div>
</div>
