@model IEnumerable<puceAsk_dev1.Models.Pregunta>

@{
    ViewBag.Title = "Index";
}

<br/><h2>Listado de Preguntas</h2><br />


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.TituloPregunta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescPregunta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fechapregunta)
        </th>
        
        <th>Funciones</th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.TituloPregunta)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DescPregunta)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Fechapregunta)
    </td>
   
    <td>
        @Html.ActionLink("Editar", "EditAdmin", new { id = item.PreguntaId })
        @Html.ActionLink("Eliminar", "Delete", new { id = item.PreguntaId })
    </td>
</tr>
}

</table>
