@model IEnumerable<puceAsk_dev1.Models.Pregunta>

@{
    ViewBag.Title = "Index";
}
<h2>Listado de preguntas</h2>
<br />

<table class="table row">

    <tr>

        <th style="width:25%">

            @Html.DisplayNameFor(model => model.TituloPregunta)
        </th>
        <th style="width:25%">
            @Html.DisplayNameFor(model => model.DescPregunta)
        </th>
        <th style="width:20%">
            @Html.DisplayNameFor(model => model.Fechapregunta)
        </th>
        <th style="width:30%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TituloPregunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescPregunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechapregunta)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", null, new { id = item.PreguntaId }, new { @class = "btn btn-primary", @style = "background-color:darkcyan; border-color:darkcyan" })
                @Html.ActionLink("Eliminar", "Delete", null, new { id = item.PreguntaId }, new { @class = "btn btn-primary", @style = "background-color:darkred;border-color:darkred" })
            </td>
        </tr>
    }

</table>
@{
    var cantidadPaginas = ViewBag.TotalPaginas;
    int inicial = 1;
    var radio = 2;
    var cantMaxPaginas = radio * 2 + 1;
    int final = (cantidadPaginas > cantMaxPaginas) ? cantMaxPaginas : cantidadPaginas;
    if (ViewBag.PaginaActual > radio + 1)
    {
        inicial = ViewBag.PaginaActual - radio;
        if (cantidadPaginas > ViewBag.PaginaActual + radio)
        {
            final = ViewBag.PaginaActual + radio;
        }
        else
        {
            final = cantidadPaginas;
        }
    }
}
<br />
<div class="pagination">
    <ul class="pagination">

        @if (ViewBag.TotalPaginas > 1)
        {
            <li>@Html.ActionLink("Primera", null, new { pagina = 1 }, new { @class = "list-group-item list-group-item-action" })</li>


            for (int i = inicial; i <= final; i++)
            {
                if (i == ViewBag.PaginaActual)
                {

                    <li class="active">@Html.ActionLink(i.ToString(), null, new { pagina = i }, new { @class = "list-group-item list-group-item-action active" })</li>
                }
                else
                {
                    <li>@Html.ActionLink(i.ToString(), null, new { pagina = i }, new { @class = "list-group-item list-group-item-action" })</li>
                }
            }
            <li>@Html.ActionLink("Última", null, new { pagina = cantidadPaginas }, new { @class = "list-group-item list-group-item-action" })</li>
        }
        else
        {
            int i = inicial;
            <li class="active">@Html.ActionLink(i.ToString(), null, new { pagina = i }, new { @class = "list-group-item list-group-item-action active" })</li>
        }
    </ul>
</div>
<style>
    .pagination {
        display: compact !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
</style>