@model puceAsk_dev1.Models.PreguntasManager

@{
    ViewBag.Title = "Inicio";
}

<br />
<br />
<link href="~/Style/estilos.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-2" >

        <h4>Categorías</h4>

        <ul class="categorias">
            
            
                @foreach (var item in Model.categorias)
                {//Imprime todas las categorias
                    <li><a href="" >@item.NombreCategoria</a></li>
                }
        </ul>
    </div>

    <div class="col-md-10">
        <h2>Preguntas</h2>
        <div class="row">
            <div class="col-md-6"><br />
                <label for="filtrar">Filtar</label>
                <input type="text" name="filtar" />
            </div>

            <div class="col" align="right">
                @Html.ActionLink("Agregar pregunta", "Create", null, new { @class = "link-button" })
            </div>
        </div>

      <br/>

        @foreach (var item in Model.preguntas)
        {

            <div class="jumbotron jumbotron-fluid pregunta">
                <div class="container">
                    <h2 class="display-4 titulo">@Html.DisplayFor(modelItem => item.TituloPregunta)</h2>
                    <p class="lead preg">@Html.DisplayFor(modelItem => item.DescPregunta)</p>
                    <hr>
                    <p class="detalles">
                        @Html.DisplayFor(modelItem => item.Fechapregunta) |
                        @if (item.Categoria != null)
                        {
                            @item.Categoria.NombreCategoria
                        }
                    </p>
                </div>
            </div>
        }
    </div>
</div>

