@model puceAsk_dev1.Models.Categoria

@{
    ViewBag.Title = "Delete";
}
<div class="d-flex justify-content-center align-items-center " style="margin: 35px;">
    <div class="card" style=" width: 40rem;">
        <div class="card-header datos">
            <h2>Eliminar</h2>

            <h3>¿Seguro que quieres borrar esta categoría?</h3>
            <div>

                <hr />
                <dl class="dl-horizontal">


                    <dt>
                        @Html.DisplayNameFor(model => model.NombreCategoria)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NombreCategoria)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DescCategoria)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DescCategoria)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <br />
                    <br />
                    <div class="form-actions no-color">
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-danger btn-large" })
                        <input type="submit" value="Delete" class="btn btn-primary" style="background-color:darkred; border-color:darkred" />

                    </div>
                }
            </div>
            </div>
        </div>
    </div>
