@model IEnumerable<puceAsk_dev1.Models.Categoria>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de categorías</h2>
<br />
<p>
    @Html.ActionLink("Crear nueva categoría", "Create", null, new { @class="btn btn-warning", @style="color:white"} )
</p>
<table class="table">
    
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescCategoria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescCategoria)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit",null,new  {id=item.CategoriaId }, new { @class = "btn btn-primary", @style = "background-color:darkcyan; border-color:darkcyan" })
            @Html.ActionLink("Eliminar", "Delete", null, new { id = item.CategoriaId }, new { @class = "btn btn-primary", @style = "background-color:darkred;border-color:darkred" })
        </td>
    </tr>
}

</table>
